<aside class="side-bar">
    <div class="side-content header">
        <figure>
            <img src="/images/logo.png" alt="이미지 들어가는 공간">
        </figure>
        <span>소셜 라이즈</span>
    </div>

    <div class="side-content info">
        <p>관리자</p>
        <p>접속일: 2024.06.21</p>
        <a href="/user/logout">로그아웃</a>
    </div>

    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-building"></i>회원</p>
        <ul class="sub">
            <li><a href="/admin/user-list">회원 목록</a></li>
        </ul>
    </div>
    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-user"></i>소셜</p>
        <ul class="sub">
            <li><a href="/admin/social-list">소셜 목록</a></li>
            <li><a href="/admin/category-name-list">카테고리 목록</a></li>
        </ul>
    </div>
    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-building"></i>게시글</p>
        <ul class="sub">
            <li><a href="/admin/board-list">게시글 목록</a></li>
        </ul>
    </div>
    <div class="side-menu">
        <p class="head-menu"><i class="fa-solid fa-marker"></i>관리</p>
        <ul class="sub">
            <li><a href="/admin/qna-list">문의 사항</a></li>
            <li><a href="/admin/report-list">신고 목록</a></li>
            <li><a href="/admin/notice-list">공지사항 목록</a></li>
        </ul>
    </div>
</aside>
<script>

</script>