{{> layout/header}}
<div class="container">
    {{> layout/mpsidebar}}
    <div class="content">
        <div class="content-box">
            <div class="bookmark-box">
                <h2>북마크</h2>
            </div>
        </div>
        {{> layout/post}}
    </div>
</div>
{{> layout/footer}}