<div class="footer">
    <div class="footer-top">
        <img src="/images/logonobg.png" alt="Logo" class="footer-logo">
        <div class="footer-links">
            <div>App store | Google Play</div>
            <div>데스크탑 버전 다운로드</div>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
            블로그 · 공지사항 · 스티커제안 · 광고 · 이용약관 · 개인정보처리방침 · 쿠키 설정 · CCPA 개인 정보 관리 · 청소년 보호를 위한 노력 · 활동정책 · 권리침해 신고안내 · 개발자 · 도움말
        </div>
        <div>Socialize © 2024</div>
    </div>
</div>

{{> modal/profileModalForm }}
{{> modal/boardSaveModalForm }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
