<div class="sidebar">
    <ul>
        <li><a href="#">내 정보</a></li>
        <div class="divider"></div>
        <li><a href="#">내가 쓴 글</a></li>
        <div class="divider"></div>
        <li><a href="#">북마크 1</a></li>
        <div class="divider"></div>
        <li><a href="#">가입신청 중인 소셜</a></li>
    </ul>
</div>