<div class="mpsidebar-container">
    <div class="mpsidebar">
        <ul>
            <li><a href="/mypage/profileUpdateForm">내 정보</a></li>
            <div class="divider"></div>
            <li><a href="/mypage/myrecord">내가 쓴 글</a></li>
            <div class="divider"></div>
            <li><a href="/bookmark/my/list">북마크</a></li>
            <div class="divider"></div>
            <li><a href="/mypage/joinstatus">가입신청 중인 소셜</a></li>
        </ul>
    </div>
</div>
