<div class="content-box">
    {{#boardList.boards}}
        <div class="group-name">{{socialName}}</div>
        <div class="remove-bookmark" style="top: 20px; right: 20px;">
            <i class="fas fa-times"></i>
        </div>
        <div class="post">
            <div class="author-box">
                <img src="{{userImage}}" alt="Profile Picture" class="profile-picture" id="openModalBtn"
                     data-bs-toggle="modal" data-bs-target="#profileModal">
                <div>
                    <div class="author">{{nickname}}</div>
                    <div class="date">{{createdAt}}</div>
                </div>
            </div>
            <div class="message-box">
                {{#albums}}
                    <div class="media-item">
                        {{#isImage}}
                            <img src="{{path}}" alt="Image" style="max-width: 100%; max-height: 300px; margin-bottom: 10px;">
                        {{/isImage}}
                        {{#isVideo}}
                            <video controls style="max-width: 100%; max-height: 300px;">
                                <source src="{{path}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {{/isVideo}}
                    </div>
                {{/albums}}
                <div class="message" id="openModalBtn" data-bs-toggle="modal" data-bs-target="#boardModal">
                    {{{content}}}
                </div>
                <div class="media-box">
                </div>
                <div class="comments">
                    <div class="like-count">좋아요 {{likeCount}}</div>
                    <div class="comment-count">댓글 {{replyCount}}</div>
                </div>
            </div>
        </div>
        {{liked}}
        {{boardId}}
    <div class="comment-section-container">
        <button onclick="likeToggle{{boardId}}" class="like-button"><i class="fas fa-heart"></i></button>
        <div class="comment-section">
            <img src="/images/userprofile.jpeg" alt="Commenter Picture" class="comment-picture">
            <input type="text" placeholder="댓글을 남겨주세요.">
        </div>
        <button class="send-button">보내기</button>
    </div>
    {{/boardList.boards}}
</div>

<script>
    function likeToggle(boardId) {

    }
</script>