<div class="common-sidebar">
    <div class="common-social-info">
        <img src="/images/puppy.png" alt="소셜 사진">
        <h2>포메와의 산책</h2>
        <div>리더 <span class="common-highlight">포실장과 아이들</span></div>
        <div>멤버 <span class="common-highlight">2,215</span></div>
        <button class="common-postwrite" id="openModalBtn" data-bs-toggle="modal"
                data-bs-target="#boardSaveModal">글 작성하기</button>
        <button class="common-invite-button" id="copyLinkButton">초대링크 복사</button>
        <div class="common-description">포메라니안과 함께하는 즐거운 산책 모임입니다. 다양한 이벤트와 정보를 공유하세요!</div>
        <div class="common-settings-wrapper">
            <div class="common-settings"><a href="#"><i class="fas fa-cog"></i></a></div>
            <div>소셜 설정하기</div>
        </div>
    </div>
</div>