<div class="tab-nav-container">
    <div class="tab-nav">
        <button class="tab-button active" data-tab="mySocial">내 소셜</button>
        <button class="tab-button" data-tab="findSocial">소셜 찾기</button>
    </div>
</div>