<!--게시글 모달 가져오는 법-->
<!--<div id="openModalBtn" data-bs-toggle="modal" data-bs-target="#boardModal"></div>-->
<div class="modal fade" id="boardModal" tabindex="-1" aria-labelledby="boardModalLabel" aria-hidden="true"
     style="text-align: start">
    <div class="modal-dialog">
        <div class="board-modal-content modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boardModalLabel">이벤트 공지</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="user-info">
                    <img src="https://via.placeholder.com/50" alt="User Image" class="rounded-circle"
                         style="width: auto">
                    <strong>이다정</strong> 23기
                    <p>2019년 5월 22일 오후 7:55</p>
                </div>
                <p>내용이 나오는 공간입니다.</p>
                <div class="board-actions">
                    <div class="likes-comments">
                        <i class="fas fa-smile"></i> <span>좋아요</span> <span>1</span>
                    </div>
                    <div class="likes-comments">
                        <i class="fas fa-comment"></i> <span>댓글쓰기</span> <span>1</span>
                    </div>
                </div>
                <div class="board-comment-section">
                    <div class="board-comment">
                        <strong>댓글 작성자</strong>
                        <p>댓글 내용입니다.</p>
                        <div class="reply">
                            <strong>답글 작성자</strong>
                            <p>답글 내용입니다.</p>
                        </div>
                    </div>
                    <div class="board-comment">
                        <strong>댓글 작성자</strong>
                        <p>댓글 내용입니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // 모달 내부 클릭 시 닫히지 않도록 설정
        $('#boardModal .modal-content').on('click', function (event) {
            event.stopPropagation();
        });
    });
</script>