<!--프로필 모달 가져오는 법-->
<!--<div id="openModalBtn" data-bs-toggle="modal" data-bs-target="#profileModal"></div>-->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="profile-modal-content">
            <div class="profile-modal-header modal-header">
                <div class="profile-menu-button">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h5 class="modal-title mx-auto" id="exampleModalLabel">2024년 6월 14일 가입</h5>
                <button type="button" class="btn-close m-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="images/userprofile.jpeg" alt="Profile Image" class="profile-modal-img img-fluid">
            <div class="modal-body text-center">
                <div class="profile-info-container p-3">
                    <h3 class="mt-3">김세운</h3>
                    <div class="profile-action-container mt-3 p-3">
                        <div class="profile-action-item mx-3">
                            <i class="fas fa-paper-plane fa-2x"></i>
                            <p>채팅하기</p>
                        </div>
                        <div class="profile-action-item mx-3">
                            <i class="fas fa-file-alt fa-2x"></i>
                            <p>작성글 보기</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>