{{> layout/header}}
<div class="invite-navbar">
    <a href="#">게시글</a>
    <a href="#">서랍</a>
    <a href="#">멤버</a>
</div>
<div class="invite-container">
    <div class="invite-sidebar">
        <div class="invite-social-info">
            <img src="/images/puppy.png" alt="소셜 사진">
            <h2>포메와의 산책</h2>
            <div>리더 <span class="invite-highlight">포실장과 아이들</span></div>
            <div>멤버 <span class="invite-highlight">2,215</span></div>
            <button class="invite-postwrite">글 작성하기</button>
            <button class="invite-invite-button" id="copyLinkButton">초대링크 복사</button>
            <div class="invite-description">포메라니안과 함께하는 즐거운 산책 모임입니다. 다양한 이벤트와 정보를 공유하세요!</div>
            <div class="invite-settings-wrapper">
                <div class="invite-settings"><a href="#"><i class="fas fa-cog"></i></a></div>
                <div>소셜 설정하기</div>
            </div>
        </div>
    </div>
    <div class="invite-content">
        <h2>멤버 20</h2>
        <div class="invite-divider"></div>

        <h2>신청목록</h2>
        <div class="invite-divider"></div>

        <h2>멤버검색</h2>
        <div class="invite-divider"></div>

        <h2>초대링크</h2>
        <div class="invite-divider"></div>

        <h2>멤버리스트</h2>
        <div class="invite-divider"></div>
    </div>
    <div class="invite-chat-container">
        <div class="invite-chat-header">
            <div class="invite-chat-title">SNS프로젝트 1조</div>
            <div class="invite-chat-menu">⋮</div>
        </div>
        <div class="invite-chat-messages">
            <div class="invite-chat-date">2024년 6월 17일</div>
            <div class="invite-chat-message">
                <img src="/images/puppy.png" alt="프로필 사진" class="invite-profile-pic">
                <div class="invite-message-content">
                    <div class="invite-sender">설동훈</div>
                    <div class="invite-message-container">
                        <div class="invite-message-bubble">안녕</div>
                        <span class="invite-time">오전 11:45</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="invite-chat-input">
            <input type="text" placeholder="메시지를 입력하세요">
            <button>보내기</button>
        </div>
    </div>
    <div id="mediaModal" class="invite-file-modal">
        <span class="invite-close" onclick="closeModal()">&times;</span>
        <img class="invite-file-modal-content-img" id="modal-img">
        <video class="invite-file-modal-content-video" controls id="modal-video"></video>
        <button class="invite-album-download-btn" id="download-btn">다운로드</button>
    </div>
    <script>
        function switchTab(event, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("invite-tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("invite-tab");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("defaultOpen").click();
            updateAlbumItemCount("Album", "albumCount");
            updateFileItemCount("File", "fileCount");
        });

        function updateAlbumItemCount(tabId, countId) {
            var itemCount = document.querySelectorAll("#" + tabId + " .invite-grid-item").length;
            document.getElementById(countId).innerText = "전체 " + itemCount;
        }

        function openModal(src, isVideo = false) {
            var modal = document.getElementById('mediaModal');
            var modalImg = document.getElementById('modal-img');
            var modalVideo = document.getElementById('modal-video');
            var downloadBtn = document.getElementById('download-btn');

            if (isVideo) {
                modalVideo.src = src;
                modalVideo.style.display = 'block';
                modalImg.style.display = 'none';
                modal.style.display = 'block';
                modalVideo.play();
                downloadBtn.onclick = function () { downloadFile(src, 'video'); };
            } else {
                modalImg.src = src;
                modalImg.style.display = 'block';
                modalVideo.style.display = 'none';
                modal.style.display = 'block';
                downloadBtn.onclick = function () { downloadFile(src, 'image'); };
            }
            modal.addEventListener('click', closeModal);
        }

        function downloadFile(src, type) {
            var a = document.createElement('a');
            a.href = src;
            a.download = type === 'video' ? 'video.mp4' : 'image.png';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

        function closeModal() {
            var modal = document.getElementById('mediaModal');
            var modalVideo = document.getElementById('modal-video');
            modal.style.display = 'none';
            modalVideo.pause();
            modal.removeEventListener('click', closeModal);
        }

        function handleFileUpload() {
            var fileInput = document.getElementById('fileInput');
            var fileList = document.getElementById('fileList');
            var fileCount = document.getElementById('fileCount');
            var count = fileList.children.length;
            var existingFiles = {};

            Array.from(fileList.children).forEach(function (item) {
                var name = item.textContent.split(' (')[0];
                existingFiles[name] = (existingFiles[name] || 0) + 1;
            });

            if (fileInput.files.length > 0) {
                for (var i = 0; i < fileInput.files.length; i++) {
                    var file = fileInput.files[i];
                    var fileName = file.name;
                    var fileUrl = URL.createObjectURL(file);
                    var fileElement = document.createElement('div');
                    fileElement.className = 'invite-grid-item';

                    if (existingFiles[fileName]) {
                        var newName = fileName + ' (' + existingFiles[fileName] + ')';
                        fileElement.textContent = newName;
                        existingFiles[fileName]++;
                    } else {
                        fileElement.textContent = fileName;
                        existingFiles[fileName] = 1;
                    }

                    fileElement.onclick = function () {
                        var a = document.createElement('a');
                        a.href = fileUrl;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    };
                    fileList.appendChild(fileElement);
                }
            }
        }

        function updateFileItemCount(tabId, countId) {
            var itemCount = document.querySelectorAll("#" + tabId + " .invite-file-item").length;
            document.getElementById(countId).innerText = "전체 " + itemCount;
        }

        document.getElementById("copyLinkButton").addEventListener("click", function() {
            const link = "https://example.com/invite"; // 여기에 실제 초대 링크를 입력하세요.
            navigator.clipboard.writeText(link).then(function() {
                alert("초대 링크가 클립보드에 복사되었습니다.");
            }, function(err) {
                console.error("초대 링크 복사 실패: ", err);
            });
        });
    </script>
</div>
{{> layout/footer}}
