{{> admin/layout/header}}
<body>
<main role="main">
    <section id="section n1">
        <aside class="side-bar">
            <div class="side-wrapper">
                {{> admin/layout/sidebar}}
            </div>
        </aside>
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link"><a href="/admin/user-list">회원</a></li>
                    <li class="tab-link"><a href="/admin/social-list">소셜</a></li>
                    <li class="tab-link"><a href="/admin/board-list">게시글</a></li>
                    <li class="tab-link"><a href="/admin/category-name-list">카테고리</a></li>
                    <li class="tab-link"><a href="/admin/qna-list">문의</a></li>
                    <li class="tab-link"><a href="/admin/report-list">신고</a></li>
                    <li class="tab-link current"><a href="/admin/notice-list">공지사항</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>공지사항</p>
                    </div>
                    <div class="tab-item">
                        <form action="" method="get" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 공지 <em>3</em>개</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <button class="notice-btn"
                                                    onclick="location.href='/admin/notice/write'">작성하기</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="65%">
                                <col width="25%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">공지사항 번호</th>
                                <th scope="col">공지내용</th>
                                <th scope="col">작성일</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="notice">
                                <td class="notice-content-text">3</td>
                                <td class="notice-content-text">오늘의 소셜을 선정해보고 그에 따른 보상을 받아보세요</td>
                                <td class="notice-content-text">2024.05.23</td>
                                <td class="link">
                                    <a href="/admin/notice/1"></a>
                                </td>
                            </tr>
                            <tr class="notice">
                                <td class="notice-content-text">2</td>
                                <td class="notice-content-text">어린이날을 기념해서 엄청나게 좋은 혜택이 쏟아집니다</td>
                                <td class="notice-content-text">2024.05.05</td>
                                <td class="link">
                                    <a href="/admin/notice/1"></a>
                                </td>
                            </tr>
                            <tr class="notice">
                                <td class="notice-content-text">1</td>
                                <td class="notice-content-text">오늘의 소셜을 선정해보고 그에 따른 보상을 받아보세요</td>
                                <td class="notice-content-text">2024.04.29</td>
                                <td class="link">
                                    <a href="/admin/notice/1"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>

</html>