{{> layout/header}}
{{> layout/socialtab}}
<div class="detail-main-container">
    {{> layout/socialsidebar}}
    <div class="detail-board-content">
        <div class="detail-hashtag-container">
            <div class="detail-wrap-vertical">
                <div class="detail-hashtag active">전체</div>
                <div class="detail-hashtag">해시태그</div>
                <div class="detail-hashtag">해시태그2</div>
                <div class="detail-hashtag">해시태그3</div>
                <div class="detail-hashtag">해시태그4</div>
                <div class="detail-hashtag">해시태그5</div>
                <div class="detail-hashtag">해시태그6</div>
                <div class="detail-hashtag">해시태그7</div>
            </div>
        </div>
        <div class="detail-board-container">
            {{> layout/post }}
        </div>
    </div>
    <div class="detail-chat-container">
        <div class="detail-chat-header">
            <div class="detail-chat-title">SNS프로젝트 1조</div>
            <div class="detail-chat-menu">⋮</div>
        </div>
        <div class="detail-chat-messages">
            <div class="detail-chat-date">2024년 6월 17일</div>
            <div class="detail-chat-message">
                <img src="/images/puppy.png" alt="프로필 사진" class="detail-profile-pic" id="openModalBtn" data-bs-toggle="modal"
                     data-bs-target="#profileModal">
                <div class="detail-message-content">
                    <div class="detail-sender">설동훈</div>
                    <div class="detail-message-container">
                        <div class="detail-message-bubble">안녕</div>
                        <span class="detail-time">오전 11:45</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-chat-input">
            <input type="text" placeholder="메시지를 입력하세요">
            <button>보내기</button>
        </div>
    </div>
</div>

<div id="mediaModal" class="detail-file-modal">
    <span class="detail-close" onclick="closeModal()">&times;</span>
    <img class="detail-file-modal-content-img" id="modal-img">
    <video class="detail-file-modal-content-video" controls id="modal-video"></video>
    <button class="detail-album-download-btn" id="download-btn">다운로드</button>
</div>

<script>
    document.getElementById("copyLinkButton").addEventListener("click", function() {
        const link = "#"; // 여기에 실제 초대 링크를 입력
        navigator.clipboard.writeText(link).then(function() {
            alert("초대 링크가 클립보드에 복사되었습니다.");
        }, function(err) {
            console.error("초대 링크 복사 실패: ", err);
        });
    });
</script>

{{> layout/footer}}
