<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Social Join Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .header {
            background-color: #fff;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header .logo {
            font-size: 24px;
            font-weight: bold;
            margin-right: 20px;
        }

        .header .logo img {
            width: 70px;
            height: auto;
        }

        .header .search-bar {
            width: 60%;
            margin-right: auto;
        }

        .header .search-bar input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 20px;
        }

        .header .menu {
            display: flex;
            align-items: center;
        }

        .header .menu a {
            margin-left: 20px;
            text-decoration: none;
            color: #333;
        }

        .navbar {
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }

        .navbar a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .navbar a:hover {
            background-color: #f1f1f1;
        }

        .container {
            display: flex;
            flex: 1;
            padding: 20px;
        }

        .sidebar {
            width: 300px;
            /* 사이드바 크기가 축소 되지 않도록 고정 */
            flex-shrink: 0;
            background-color: #fff;
            border-right: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
            margin-right: 20px;
        }

        .sidebar .social-info {
            text-align: center;
            margin-bottom: 20px;
        }

        .sidebar .social-info img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .sidebar .social-info .join-button,
        .sidebar .social-info .postwrite {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            width: 100%;
            margin-top: 10px;
        }

        .sidebar .social-info .description {
            margin-top: 10px;
            font-size: 14px;
            color: #555;
        }

        .sidebar .social-info .settings {
            margin-top: 10px;
            text-align: right;
        }

        .sidebar .social-info .settings a {
            color: #333;
            text-decoration: none;
            font-size: 20px;
        }

        .sidebar .social-info .invite-text {
            margin-top: 10px;
            font-size: 14px;
            color: #555;
            cursor: pointer;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-right: 20px;
            display: flex;
            flex-direction: column;
        }

        .tabs {
            display: flex;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
        }

        .tabs .tab {
            flex: 1;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
        }

        .tabs .tab.active {
            border-bottom: 2px solid #333;
        }

        .content-header {
            margin-bottom: 10px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        .grid-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #f5f5f5;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .grid-item.photo {
            width: 100%;
            height: 100%;
            background-color: #e0f7fa;
            box-sizing: border-box;
        }

        .grid-item.video {
            width: 100%;
            height: 100%;
            background-color: #ffccbc;
            box-sizing: border-box;
        }


        .grid-item.photo img,
        .grid-item.video video {
            max-width: 100%;
            max-height: 100%;
        }

        .file-container {
            display: none;
            flex-grow: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .file-container.active {
            display: block;
        }

        .file-search-upload {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .file-search {
            width: 70%;
        }

        .file-search input {
            width: 90%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 20px;
        }

        .file-upload {
            display: flex;
            align-items: center;
        }

        .file-upload button {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 130px;
        }

        .chat-container {
            width: 300px;
            background-color: #fff;
            border-left: 1px solid #ddd;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .chat-header {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .chat-header .chat-title {
            font-size: 18px;
            font-weight: bold;
        }

        .chat-header .chat-menu {
            cursor: pointer;
        }

        .chat-messages {
            flex-grow: 1;
            padding: 10px;
            overflow-y: auto;
        }

        .chat-date {
            text-align: center;
            font-size: 13px;
            color: #777;
            margin-bottom: 10px;
        }

        .chat-message {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .chat-message .profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .chat-message .message-content {
            display: flex;
            flex-direction: column;
            max-width: 200px;
        }

        .chat-message .sender {
            font-weight: bold;
        }

        .message-container {
            display: flex;
            align-items: center;
        }

        .message-bubble {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 10px;
            position: relative;
        }

        .message-bubble:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #f1f1f1;
        }

        .chat-message .time {
            font-size: 12px;
            color: #777;
            margin-left: 10px;
            align-self: flex-end;
        }

        .chat-input {
            display: flex;
            padding: 10px;
            border-top: 1px solid #ddd;
        }

        .chat-input input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 20px;
            margin-right: 10px;
        }

        .chat-input button {
            padding: 10px 15px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .footer {
            padding: 20px;
            background-color: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
            font-size: 12px;
            color: #999;
        }

        .divider {
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }

        .icon {
            font-size: 24px;
            color: #333;
            margin-left: 20px;
        }

        .file-modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            justify-content: center;
            align-items: flex-start;
        }

        .file-modal-content-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            background-color: #fff;
            width: 100%;
            max-width: 500px;
            height: auto;
        }

        .file-modal-content-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            background-color: #fff;
            width: 100%;
            max-width: 800px;
            height: auto;
        }

        /*모달창 다운로드 스타일*/
        .album-download-btn {
            position: fixed;
            /* 위치를 고정시키고 */
            right: 20px;
            /* 오른쪽에서 20px 떨어진 곳에 위치 */
            bottom: 20px;
            /* 하단에서 20px 떨어진 곳에 위치 */
            padding: 10px 20px;
            /* 버튼의 패딩을 조정하여 더 세련된 느낌 */
            background-color: #505050;
            /* 버튼의 배경색을 더 진한 회색으로 변경 */
            color: #f0f0f0;
            /* 글자색을 밝은 회색으로 변경 */
            border: none;
            /* 테두리 제거 */
            border-radius: 5px;
            /* 모서리를 둥글게 */
            font-size: 16px;
            /* 글자 크기 조정 */
            cursor: pointer;
            /* 커서를 포인터로 변경 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            /* 그림자 효과를 더 진하게 변경 */
            transition: background-color 0.3s;
            /* 배경색 변경에 애니메이션 효과 적용 */
        }

        /*모달창 다운로드 스타일*/
        .album-download-btn:hover {
            background-color: #303030;
            /* 호버 시 배경색을 더 어두운 회색으로 변경 */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* 파일 다운로드 */
        .file-input {
            display: none;
        }

        .file-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 5px;
        }

        .file-download-btn {
            background: none;
            /* 배경 제거 */
            color: #333;
            /* 글자 색상을 어두운 회색으로 변경 */
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .file-download-btn i {
            margin-right: 0;
            /* 아이콘과 텍스트 사이의 간격 제거 */
        }

        .file-name:hover {
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <script>
        function switchTab(event, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("defaultOpen").click();
            updateAlbumItemCount("Album", "albumCount");
            updateFileItemCount("File", "fileCount");
        });

        function updateAlbumItemCount(tabId, countId) {
            var itemCount = document.querySelectorAll("#" + tabId + " .grid-item").length;
            document.getElementById(countId).innerText = "전체 " + itemCount;
        }

        // 모달창
        // 모달 창을 열어주는 함수
        function openModal(src, isVideo = false) {
            var modal = document.getElementById('mediaModal'); // 모달 요소 가져오기
            var modalImg = document.getElementById('modal-img'); // 이미지 표시 요소
            var modalVideo = document.getElementById('modal-video'); // 비디오 표시 요소
            var downloadBtn = document.getElementById('download-btn'); // 다운로드 버튼 요소

            if (isVideo) {
                modalVideo.src = src; // 비디오 소스 설정
                modalVideo.style.display = 'block'; // 비디오 요소 표시
                modalImg.style.display = 'none'; // 이미지 요소 숨기기
                modal.style.display = 'block'; // 모달 표시
                modalVideo.play(); // 비디오 재생
                downloadBtn.onclick = function () { downloadFile(src, 'video'); }; // 다운로드 버튼에 이벤트 핸들러 설정
            } else {
                modalImg.src = src; // 이미지 소스 설정
                modalImg.style.display = 'block'; // 이미지 요소 표시
                modalVideo.style.display = 'none'; // 비디오 요소 숨기기
                modal.style.display = 'block'; // 모달 표시
                downloadBtn.onclick = function () { downloadFile(src, 'image'); }; // 다운로드 버튼에 이벤트 핸들러 설정
            }
            modal.addEventListener('click', closeModal); // 모달 외부 클릭 시 모달 닫기 이벤트 추가
        }

        // 파일을 다운로드하는 함수
        function downloadFile(src, type) {
            var a = document.createElement('a'); // 새로운 링크 요소 생성
            a.href = src; // 링크 주소 설정
            a.download = type === 'video' ? 'video.mp4' : 'image.png'; // 다운로드 파일명 설정
            document.body.appendChild(a); // 링크 요소를 문서에 추가
            a.click(); // 링크 클릭 이벤트 강제 실행
            document.body.removeChild(a); // 링크 요소 제거
        }

        // 모달 창을 닫는 함수
        function closeModal() {
            var modal = document.getElementById('mediaModal'); // 모달 요소 가져오기
            var modalVideo = document.getElementById('modal-video'); // 비디오 요소 가져오기
            modal.style.display = 'none'; // 모달 숨기기
            modalVideo.pause(); // 비디오 재생 중지
            modal.removeEventListener('click', closeModal); // 이벤트 리스너 제거
        }

        // 파일 다운로드 스크립트
        function handleFileUpload() {
            var fileInput = document.getElementById('fileInput'); // 파일 입력 요소 가져오기
            var fileList = document.getElementById('fileList'); // 파일 목록 컨테이너 가져오기
            var fileCount = document.getElementById('fileCount'); // 파일 수 표시 요소 가져오기
            var count = fileList.children.length; // 현재 파일 목록의 개수
            var existingFiles = {}; // 기존 파일 이름 저장을 위한 객체

            // 파일 목록을 순회하며 기존 파일 이름을 객체에 추가
            Array.from(fileList.children).forEach(function (item) {
                var name = item.textContent.split(' (')[0]; // 파일 이름만 추출
                existingFiles[name] = (existingFiles[name] || 0) + 1; // 파일 이름 카운트
            });

            if (fileInput.files.length > 0) {
                for (var i = 0; i < fileInput.files.length; i++) {
                    var file = fileInput.files[i]; // 파일 객체
                    var fileName = file.name; // 파일 이름
                    var fileUrl = URL.createObjectURL(file); // 파일 URL 생성
                    var fileElement = document.createElement('div'); // 새 파일 요소 생성
                    fileElement.className = 'grid-item';

                    // 같은 이름의 파일이 이미 존재하는 경우 이름 변경
                    if (existingFiles[fileName]) {
                        var newName = fileName + ' (' + existingFiles[fileName] + ')';
                        fileElement.textContent = newName; // 변경된 파일 이름으로 설정
                        existingFiles[fileName]++;
                    } else {
                        fileElement.textContent = fileName; // 파일 이름으로 설정
                        existingFiles[fileName] = 1;
                    }

                    fileElement.onclick = function () {
                        var a = document.createElement('a');
                        a.href = fileUrl;
                        a.download = fileName; // 다운로드 파일명 설정
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    };
                    fileList.appendChild(fileElement); // 파일 목록에 요소 추가
                }
            }
        }

        function updateFileItemCount(tabId, countId) {
            var itemCount = document.querySelectorAll("#" + tabId + " .file-item").length;
            document.getElementById(countId).innerText = "전체 " + itemCount;
        }
    </script>
</head>

<body>
<div class="header">
    <div class="logo">
        <img src="/images/logo.png" alt="로고">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="소셜, 페이지, 게시글 검색">
    </div>
    <div class="menu">
        <a href="#" class="icon"><i class="fas fa-bell"></i></a>
        <a href="#" class="icon"><i class="fas fa-comments"></i></a>
        <a href="#" class="icon"><i class="fas fa-user"></i></a>
    </div>
</div>
<div class="navbar">
    <a href="#">게시글</a>
    <a href="#">서랍</a>
    <a href="#">멤버</a>
</div>
<div class="container">
    <div class="sidebar">
        <div class="social-info">
            <img src="/images/puppy.png" alt="소셜 사진">
            <h2>포메와의 산책</h2>
            <div>리더 포실장과 아이들</div>
            <div>멤버 2,215</div>
            <button class="postwrite">글 작성하기</button>
            <div class="invite-text">초대링크 복사</div>
            <div class="description">포메라니안과 함께하는 즐거운 산책 모임입니다. 다양한 이벤트와 정보를 공유하세요!</div>
            <div class="settings"><a href="#"><i class="fas fa-cog"></i></a></div>
        </div>
    </div>
    <div class="content">
        <div class="tabs">
            <div class="tab active" id="defaultOpen" onclick="switchTab(event, 'Album')">앨범</div>
            <div class="tab" onclick="switchTab(event, 'File')">파일</div>
        </div>
        <div id="Album" class="tab-content">
            <div class="content-header"><span id="albumCount">0</span></div>
            <div class="grid-container">
                {{# models.albums}}
                    <div class="grid-item {{#isVideo}}video{{/isVideo}}{{^isVideo}}photo{{/isVideo}}" data-type="{{type}}">
                        {{#isVideo}}
                            <video src="{{path}}" onclick="openModal(this.src, true)"></video>
                        {{/isVideo}}
                        {{^isVideo}}
                            <img src="{{path}}" alt="#" onclick="openModal(this.src, false)">
                        {{/isVideo}}
                    </div>
                {{/models.albums}}
            </div>
        </div>
        <div id="File" class="tab-content">
            <div class="file-search-upload">
                <div class="file-search">
                    <input type="text" placeholder="파일 검색">
                </div>
                <div class="file-upload">
                    <input type="file" id="fileInput" class="file-input" onchange="handleFileUpload()">
                    <button onclick="document.getElementById('fileInput').click()">파일 올리기</button>
                </div>
            </div>
            <div class="content-header"><span id="fileCount">0</span></div>
            <div class="file-list" id="fileList">
                {{# models.files}}
                    <div class="file-item">
                        <span onclick="downloadFile('{{path}}', 'file')" class="file-name">{{name}}</span>
                        <button class="file-download-btn" onclick="downloadFile('{{path}}', 'file')"><i class="fas fa-download"></i></button>
                    </div>
                {{/ models.files}}
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <div class="chat-title">SNS프로젝트 1조</div>
            <div class="chat-menu">⋮</div>
        </div>
        <div class="chat-messages">
            <div class="chat-date">2024년 6월 17일</div>
            <div class="chat-message">
                <img src="/images/puppy.png" alt="프로필 사진" class="profile-pic">
                <div class="message-content">
                    <div class="sender">설동훈</div>
                    <div class="message-container">
                        <div class="message-bubble">안녕</div>
                        <span class="time">오전 11:45</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="메시지를 입력하세요">
            <button>보내기</button>
        </div>
    </div>
    <div id="mediaModal" class="file-modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="file-modal-content-img" id="modal-img">
        <video class="file-modal-content-video" controls id="modal-video"></video>
        <button class="album-download-btn" id="download-btn">다운로드</button>
    </div>
</div>
{{> layout/footer}}