{{> layout/header}}
<div class="socialnotjoin-container-wrapper">
    <div class="socialnotjoin-container">
        <div class="socialnotjoin-sidebar">
            <div class="socialnotjoin-social-info">
                <img src="{{modal.image}}" alt="소셜 사진">
                <h2>{{modal.title}}</h2>
                <div>리더 <span class="socialnotjoin-highlight">{{modal.name}}</span></div>
                <div>멤버 <span class="socialnotjoin-highlight">{{modal.memberCount}}</span></div>
                {{^modal.isWaiting}}
                    <form action="/{{modal.socialId}}/social-members/apply" method="post"
                          enctype="application/x-www-form-urlencoded">
                        <button type="submit" class="socialnotjoin-join-button">가입 신청하기</button>
                    </form>
                {{/modal.isWaiting}}
                {{#modal.isWaiting}}
                    <div class="socialnotjoin-join" style="text-align: center">가입 신청완료</div>
                {{/modal.isWaiting}}
            </div>
        </div>
        <div class="socialnotjoin-content">
            <div class="socialnotjoin-social-description">
                <h3>소셜 소개</h3>
                <div class="socialnotjoin-divider"></div>
                <p>{{modal.info}}</p>
                <p class="socialnotjoin-hashtags">
                    {{#modal.allHasTagList}}
                        <span>{{hasTagName}}</span>
                    {{/modal.allHasTagList}}
                </p>
            </div>
            <div class="socialnotjoin-divider"></div>
            <div class="socialnotjoin-social-activity">
                <h3>이 소셜의 활동 정보</h3>
                <div class="socialnotjoin-divider"></div>
                <ul>
                    <li>개설일 <span class="socialnotjoin-highlight">{{modal.createdAt}}</span></li>
                    <li>총 게시글 <span class="socialnotjoin-highlight">{{modal.boardCount}} 건</span></li>
                </ul>
                <p>우리 소셜의 게시글은 {{modal.week}}요일에 가장 많이 작성됩니다.</p>
                <div id="weekCount" data-week="{{modal.weekCount}}"></div>
                <div class="socialnotjoin-social-chart">
                    <canvas id="activityChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
    const socialDetailElement = document.getElementById('weekCount');
    const weekCountString = socialDetailElement.getAttribute('data-week');
    const weekCount = JSON.parse(weekCountString);

    var ctx = document.getElementById('activityChart').getContext('2d');
    var activityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['일', '월', '화', '수', '목', '금', '토'],
            datasets: [{
                label: '활동 수',
                data: weekCount,
                borderColor: '#5C9CFA',
                borderWidth: 2,
                fill: false,
                lineTension: 0.1,
                pointBackgroundColor: '#5C9CFA',
                pointBorderColor: '#5C9CFA',
                pointRadius: 5,
                pointHoverRadius: 7
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    top: 0,
                    bottom: 0
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        display: true,
                        drawBorder: false
                    },
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: true
                }
            }
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{{> layout/footer}}
