{{> layout/header}}
<div class="socialnotjoin-container-wrapper">
    <div class="socialnotjoin-container">
        <div class="socialnotjoin-sidebar">
            <div class="socialnotjoin-social-info">
                <img src="{{socialDetail.image}}" alt="소셜 사진">
                <h2>{{socialDetail.title}}</h2>
                <div>리더 <span class="socialnotjoin-highlight">{{socialDetail.name}}</span></div>
                <div>멤버 <span class="socialnotjoin-highlight">{{socialDetail.memberCount}}</span></div>
                <button class="socialnotjoin-join-button">가입하기</button>
            </div>
        </div>
        <div class="socialnotjoin-content">
            <div class="socialnotjoin-social-description">
                <h3>소셜 소개</h3>
                <div class="socialnotjoin-divider"></div>
                <p>{{socialDetail.info}}</p>
                <p class="socialnotjoin-hashtags">
                    {{#socialDetail.allHasTagList}}
                        <span>{{hasTagName}}</span>
                    {{/socialDetail.allHasTagList}}
                </p>
            </div>
            <div class="socialnotjoin-divider"></div>
            <div class="socialnotjoin-social-activity">
                <h3>이 소셜의 활동 정보</h3>
                <div class="socialnotjoin-divider"></div>
                <ul>
                    <li>개설일 <span class="socialnotjoin-highlight">{{socialDetail.createdAt}}</span></li>
                    <li>총 게시글 <span class="socialnotjoin-highlight">{{socialDetail.boardCount}} 건</span></li>
                </ul>
                <p>우리 소셜의 게시글은 {{socialDetail.week}}에 가장 많이 작성됩니다.</p>
                <div id="weekCount" data-week="{{socialDetail.weekCount}}"></div>
                <div id="weekList" data-week="{{socialDetail.weekList}}"></div>
                <div class="socialnotjoin-social-chart">
                    <canvas id="activityChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
    const socialDetailElement = document.getElementById('weekCount');
    const weekArrayString = socialDetailElement.getAttribute('data-week');

    const socialElement = document.getElementById('weekList');
    const weekString = socialElement.getAttribute('data-week');

    var ctx = document.getElementById('activityChart').getContext('2d');
    var activityChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: weekString,
            datasets: [{
                label: '활동 수',
                data: weekArrayString,
                borderColor: '#5C9CFA',
                borderWidth: 2,
                fill: false,
                lineTension: 0.1,
                pointBackgroundColor: '#5C9CFA',
                pointBorderColor: '#5C9CFA',
                pointRadius: 5,
                pointHoverRadius: weekString.length
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    top: 0,
                    bottom: 0
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        display: true,
                        drawBorder: false
                    },
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        display: false
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: true
                }
            }
        }
    });
    /*]]>*/
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{{> layout/footer}}
