<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="background"></div>
<div class="login-container">
    <div class="login-box-container">
        <h1 class="login-title">로그인</h1>
        <div class="login-breadcrumb">
            <a href="#">홈</a> &gt; <span>로그인</span>
        </div>
        <div class="login-box">
            <p class="login-left-align-title">함께 즐기는 취미생활,
                Socialize에서
                시작하세요!</p>
            <p class="login-left-align-text">이메일로 로그인하기</p>
            <form action="/login" method="post">
                <div class="login-textbox">
                    <input type="email" placeholder="Email" name="email">
                </div>
                <div class="login-textbox">
                    <input type="password" placeholder="Password" name="password">
                    <button type="button" class="login-password-toggle"></button>
                </div>
                <button type="submit" class="login-btn">로그인</button>
                <div class="login-divider">또는</div>
                <button type="button" class="login-btn login-kakao-btn" onclick="window.location.href='https://kauth.kakao.com/oauth/authorize?redirect_uri=http://localhost:8080/oauth/kakao/callback&response_type=code&client_id=378709950e778973b12184070bc6c80e'">카카오로 로그인하기</button>
                <button type="button" class="login-btn login-naver-btn" onclick="window.location.href='https://nid.naver.com/oauth2.0/authorize?redirect_uri=http://localhost:8080/oauth/naver/callback&response_type=code&client_id=rZrLGNhQJLm3ezYUYzTI&state=test'">네이버로 로그인하기</button>
            </form>
            <p>처음이세요? <a href="#">회원가입하기</a></p>
        </div>
    </div>
</div>