.bmodal-board-modal-content {
    padding: 20px;
    background-color: white;
}

.bmodal-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.bmodal-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.bmodal-user-details {
    display: flex;
    flex-direction: column;
}

.bmodal-date {
    color: #777;
    font-size: 0.9em;
    margin-top: 5px;
}

.bmodal-hashtags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bmodal-hashtag {
    background-color: #f1f1f1;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.bmodal-board-actions {
    display: flex;
    justify-content: start; /* Left-align the items */
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    gap: 20px; /* Add space between the items */
}

.bmodal-board-actions .bmodal-likes-comments {
    display: flex;
    align-items: center;
}

.bmodal-board-actions .bmodal-likes-comments span {
    margin-left: 5px;
}

.bmodal-board-actions .bmodal-likes-comments i {
    cursor: pointer;
}

.bmodal-board-comment-section {
    margin-top: 20px;
    padding-top: 10px;
}

.bmodal-board-comment {
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.bmodal-board-comment .bmodal-reply {
    margin-left: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
