{{> admin/layout/header}}
<body>
<main role="main">
    <section id="section n1">
        {{> admin/layout/sidebar}}
        <div class="content-page">
            <div class="content-tab-bar">
                <ul class="tab-nav">
                    <li class="tab-link"><a href="/admin/user-list">회원</a></li>
                    <li class="tab-link"><a href="/admin/social-list">소셜</a></li>
                    <li class="tab-link current"><a href="/admin/board-list">게시글</a></li>
                    <li class="tab-link"><a href="/admin/category-name-list">카테고리</a></li>
                    <li class="tab-link"><a href="/admin/management/qnaListForm.html">문의</a></li>
                    <li class="tab-link"><a href="/admin/management/reportListForm.html">신고</a></li>
                </ul>
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>게시글 목록</p>
                    </div>
                    <div class="tab-item">
                        <form action="/admin/users" method="get" style="width: 100%;">
                            <ul class="search-box">
                                <li class="search-left">
                                    <span>총 게시글<em> 2</em> 개</span>
                                </li>
                                <li class="search-right">
                                    <div>
                                        <div class="tab-input-wrapper">
                                            <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                                            <input class="submit-btn" type="submit" value="Search">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <table>
                            <colgroup>
                                <col width="20%">
                                <col width="15%">
                                <col width="30%">
                                <col width="20%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">소셜명</th>
                                <th scope="col">작성자</th>
                                <th scope="col">내용</th>
                                <th scope="col">작성일자</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#boardList}}
                                <tr>
                                    <td>{{socialName}}</td>
                                    <td>{{nickname}}</td>
                                    <td class="board-content-text">{{content}}</td>
                                    <td>{{formattedCreatedAt}}</td>
                                    <td><span class="detail"
                                              onclick="location.href='/admin/board/{{boardId}}'">상세보기</span>
                                    </td>
                                </tr>
                            {{/boardList}}

                            <!-- 검색 부분 -->
                            <!-- {{#keywordList}}
                                <tr>
                                    <td class="title">{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{reportCount}}</td>
                                    <td><span class="state {{stateColor}}">{{stateMessage}}</span></td>
                                    <td><span class="detail" onclick="location.href='/admin/users/{{userId}}'">상세보기</span></td>
                                </tr>
                            {{/keywordList}} -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

</html>